
.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}
.logo{
  display: flex;
  justify-content: flex-start;
}
.nav-items{
display: flexbox;
justify-content: space-around;
text-decoration: none;
}
.nav-items a{
  text-decoration:none ;
  padding: 5px;
}